<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hbfav.android"
          android:versionCode="1"
          android:versionName="2.1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HatenaOauthActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name=".ui.EntryContentWebViewActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name=".ui.BookmarkEntryActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name=".ui.BookmarkCommentListActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
        </activity>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="com.hbfav.android.setting.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.FromDeveloperActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="com.hbfav.android.setting.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.about.CreditsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="com.hbfav.android.setting.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
